# Override these if Docker Hub or GHCR is unavailable in your network.
#
# Example:
# SKYWALKING_UI_IMAGE=docker.m.daocloud.io/apache/skywalking-ui:latest

SKYWALKING_BANYANDB_IMAGE=apache/skywalking-banyandb:0.8.0
SKYWALKING_OAP_IMAGE=apache/skywalking-oap-server:10.2.0
SKYWALKING_UI_IMAGE=apache/skywalking-ui:10.2.0
